@import '../../Colors';

.post > * {
    display: block;
}

post-title {
    color: $post-title;
}

post-text {
    color: $post-text;
    margin: 1em 0 1em 0;
}

post-date {
    margin-top: 1em;
}

.post {
    display: block;
    padding: 1em;
    border-radius: 1em;
    margin: 1em 0 1em 0;
}